.welcome-section {
    position: relative;
    height: 100vh;
    background-image: url('../assets/img/00.png'); /* zmień ścieżkę */
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


.welcome-content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
}

.subtitle {
    font-size: clamp(16px, 4vw, 36px);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-title {
    font-size: clamp(18px, 10vw, 72px);
    line-height: 1.2;
    color: black;
}

.cta-button {
    margin-top: 30px;
    padding: 24px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #938157;
}
