.why-us-container {
    display: flex;
    justify-content: center;
    margin: 40px 10%;
}
.why-us-header h1{
    font-size: clamp(24px, 5vw, 36px);
    color: #333333;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 80%;
    max-width: 1200px;
}
.card-wrapper-why-us {
    align-items: stretch;
    display: flex;
    gap: 4vw;
    margin-top: 20px;
}
.card-why-us {
    flex: 1;
    border-radius: 20px;
    background-color: #ece5da;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #a8a088;
    padding: 20px;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.card-why-us:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.name-why-us {
    text-align: center;
    font-weight: bold;
    font-size: clamp(18px, 4vw, 24px);
    color: #000;
}
.description-why-us {
    margin-top: 20px;
    font-size: clamp(14px, 2vw, 16px);
    color: #333;
    text-align: center;
}
@media (max-width: 768px) {
    .card-wrapper-why-us {
        flex-direction: column;
    }
    .why-us {
        width: 100vw;
    }
}